.wip{
    border : 2px dotted red;
}
/*VARIABLES*/
:root{
    --primary : #3FC060;
}

.next{
    border: 1px solid black;
    margin-top: 2rem;
}
/*BODY*/

body{
    
    margin: 0;
    padding: 0;
    font-family : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:whitesmoke;
    position:relative;
}
main{
    margin-left: 7.5%;
    margin-right: 7.5%;
}
/*NAV*/

nav img{
    height: auto;
    width: 20%;
}
nav{
    background-color:var(--primary);
    display: flex;
    justify-content: center;
}
/*GRID*/
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    height: 100vh;
    }
/*DIV1 : INFOS DU RESTAURANT*/
.div1 { 
    grid-area: 1 / 1 / 3 / 2; 
    margin-top: 5vh;
    box-sizing: border-box;
    background-color: beige;
    border-radius: 15px;
    padding-right: 1rem;
}
.div1 h1{
    margin: 0;
    padding-top: 1.1rem;
    margin-left: 5%;
    font-size: 1.5rem;
}
.div1 h2{
    margin: 0;
    padding-top: 1rem;
    margin-left: 5%;
    font-size: 1.1rem;
}
ul li{
    margin-left: 5%;
    font-size: 0.9rem;
    line-height: 1.7rem;
}
/*DIV2 : PHOTO DU RESTAURANT*/
.div2 { 
    grid-area: 1 / 2 / 3 / 4;
    margin-top: 5vh;
    box-sizing: border-box;
    border-radius: 15px;
}
.fbi_img {
    background-image: url("Images/DU_SALE/FriterieFBI/FBI3.jpg");
    background-size: cover;
}

.byzance_img{
    background-image: url("Images/DU_SALE/Byzance/Byzance1.jpg");
    background-size: cover;
}
/*DIV3 NOTRE AVIS*/
.div3 { 
    grid-area: 3 / 2 / 4 / 4; 
    
    box-sizing: border-box;
    border-radius: 15px;
    background-color: bisque;
}
.div3 h2{
    padding-left: 5%;
}
.div3 p{
    padding-left: 5%;
    padding-right: 5%;
    padding-left: 5vh;
    text-align: justify;
}
/*LOCALISATION*/
.div4 { 
    grid-area: 3 / 1 / 4 / 2; 
    box-sizing: border-box;
    border-radius: 15px;
    
} 
.map-responsive {
    overflow:hidden;
    padding-bottom:60.25%;
    position:relative;
    height:0;
    }
    
    .map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
.suite{
    height: auto;
    width: 20%;
    background-color:var(--primary);
    display: flex;
    justify-content: center;

}
/*FOOTER*/
footer {
    background-color:#ebebeb;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 2rem;
}

footer img {
    margin-top:10px;
    margin-bottom:10px;
    width:8%;
}


footer p {
    color:rgb(63, 58, 58);
    padding-left: 4%;
}
